---
import GitHub from "./icons/GitHub.astro";
import NextJS from "./icons/NextJS.astro";
import Tailwind from "./icons/Tailwind.astro";
import Link from "./icons/Link.astro";
import LinkButton from "./LinkButton.astro";
import JavaScript from "./icons/JavaScript.astro";
import Node from "./icons/Node.astro";
import MongoDB from "./icons/Mongo.astro";
import ExpressJS from "./icons/ExpressJS.astro";
import JWT from "./icons/JWT.astro";
import React from "./icons/React.astro";
import Vite from "./icons/Vite.astro";
import AstroIcon from "./icons/AstroIcon.astro";
import { Image } from "astro:assets";
import Typescript from "./icons/Typescript.astro";
import Stripe from "./icons/Stripe.astro";
import ShadcnUI from "./icons/ShadcnUI.astro";
import Prisma from "./icons/Prisma.astro";
import Zod from "./icons/Zod.astro";

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "dark:bg-black tex bg-zinc-200 text-black dark:text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "dark:bg-[#003159] bg-zinc-200 text-black dark:text-white",
    icon: Tailwind,
  },
  JAVASCRIPT: {
    name: "JavaScript",
    class: "dark:bg-[#3e230a] bg-zinc-200 text-black dark:text-white",
    icon: JavaScript,
  },
  NODE: {
    name: "Node.js",
    class: "dark:bg-[#171717] bg-zinc-200 text-black dark:text-white",
    icon: Node,
  },
  MONGODB: {
    name: "MongoDB",
    class: "dark:bg-[#003618] bg-zinc-200 text-black dark:text-white",
    icon: MongoDB,
  },
  EXPRESS: {
    name: "Express.js",
    class: "dark:bg-[#3d3d3d] bg-zinc-200 text-black dark:text-white",
    icon: ExpressJS,
  },
  JWT: {
    name: "JWT",
    class: "dark:bg-[#490055] bg-zinc-200 text-black dark:text-white",
    icon: JWT,
  },
  REACT: {
    name: "React",
    class: "dark:bg-[#033449] bg-zinc-200 text-black dark:text-white",
    icon: React,
  },
  VITE: {
    name: "Vite",
    class: "dark:bg-[#470368] bg-zinc-200 text-black dark:text-white",
    icon: Vite,
  },
  ASTRO: {
    name: "Astro",
    class: "dark:bg-[#171717] bg-zinc-200 text-black dark:text-white",
    icon: AstroIcon,
  },
  TYPESCRIPT: {
    name: "TypeScript",
    class: "dark:bg-[#c5d9f2] bg-zinc-200 text-black dark:text-black",
    icon: Typescript,
  },
  STRIPE: {
    name: "Stripe",
    class: "dark:bg-[#dde3ff] bg-zinc-200 text-black dark:text-black",
    icon: Stripe,
  },
  SHADCN_UI: {
    name: "shadcn/ui",
    class: "dark:bg-[#000000] bg-zinc-200 text-black dark:text-white",
    icon: ShadcnUI,
  },
  PRISMA: {
    name: "Prisma",
    class: "dark:bg-[#171717] bg-zinc-200 text-black dark:text-white",
    icon: Prisma,
  },
  ZOD: {
    name: "Zod",
    class: "dark:bg-[#99b9e0] bg-zinc-200 text-black dark:text-black",
    icon: Zod,
  },
};
const PROJECTS = [
  {
    title: "Custom Case (E-Commerce)",
    description:
      "Custom Case is an e-commerce platform for selling personalized phone cases. Users can upload their photos, select their iPhone model, and choose case colors. This project highlights a comprehensive solution for customized product sales and an optimized user experience.",
    link: "https://customcase-weld.vercel.app/",
    github: "https://github.com/GabrielCastroV/customcase",
    image: "/custom-case.webp",
    tags: [
      TAGS.NEXT,
      TAGS.TYPESCRIPT,
      TAGS.TAILWIND,
      TAGS.SHADCN_UI,
      TAGS.PRISMA,
      TAGS.STRIPE,
    ],
  },
  {
    title: "ContactsApp",
    description:
      "ContactsApp is a beautifully designed, responsive web platform. It ensures data security with email verification, while JWT and bcrypt provide robust user authentication and password protection.",
    link: "https://contactsapp-0514.onrender.com/",
    github: "https://github.com/GabrielCastroV/ContactsApp",
    image: "/contactsapp.webp",
    tags: [
      TAGS.JAVASCRIPT,
      TAGS.NODE,
      TAGS.TAILWIND,
      TAGS.MONGODB,
      TAGS.EXPRESS,
      TAGS.JWT,
    ],
  },
  {
    title: "Spotify Clone",
    description:
      "A Spotify clone that offers a selection of lo-fi music, playback and volume controls. It is integrated with a custom API to provide an optimized and seamless listening experience.",
    link: "https://spotify-clone-gamma-liart.vercel.app/",
    github: "https://github.com/GabrielCastroV/spotify-clone",
    image: "/spotify-clone.webp",
    tags: [TAGS.ASTRO, TAGS.REACT, TAGS.TYPESCRIPT, TAGS.TAILWIND],
  },
  {
    title: "EDTécnica Telegram Bot",
    description:
      "I developed @edtecnicabot, a Telegram assistant bot and administrative web. It allows students to access course details, make payments, and obtain information with simple commands. The interface efficiently manages module data and payments.",
    link: "https://t.me/edtecnicabot",
    github: "https://github.com/GabrielCastroV/edt-telegram-bot",
    image: "/edt-bot.webp",
    tags: [TAGS.JAVASCRIPT, TAGS.NODE, TAGS.MONGODB],
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative aspect-[3/2] flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <Image
              alt={title}
              class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105 select-none"
              src={image}
              width={100}
              height={100}
              loading={"eager"}
            />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
            {title}
          </h3>
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-row mb-2 gap-2 flex-wrap">
              {tags.map((tag) => (
                <li>
                  <span
                    class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 select-none `}
                  >
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

            <div class="mt-2 text-gray-700 dark:text-gray-400">
              {description}
            </div>
            <footer class="flex items-end justify-start mt-4 gap-x-4 select-none ">
              {github && (
                <LinkButton href={github}>
                  <GitHub class="size-6 dark:text-white text-black" />
                  Code
                </LinkButton>
              )}
              {link && (
                <LinkButton href={link}>
                  <Link class="size-4 dark:text-white text-black" />
                  Preview
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
